@model BeFit.Models.ExerciseType

@{
    ViewData["Title"] = "Create Exercise Type";
}

<h1>Dodaj ćwiczenie</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Utwórz</button>
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}